{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="newpost-view">
            <h2>New Post</h2>
            <form id="newpost-form">
                {% csrf_token %}
                <textarea name="" class="input-group-text" id="newpost-form-text" rows="3" required></textarea>
                <input type="submit" class="btn btn-primary" id="newpost-form-post" value="Post">
            </form>
        </div>
    {% endif %}
    
    {% include 'network/postList.html' %}
{% endblock %}