{% extends 'network/layout.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user == profile_user %}
            <h1 class="profile-name">Your Profile</h1>
        {% else %}
            <h1 class="profile-name">{{ profile_user }}'s Profile</h1>
            {% csrf_token %}
            {% if profile_user not in user.following.all %}
                <button class="btn btn-outline-success follow-button" data-info="{{ profile_user.id }}">Follow</button>
            {% else %}
                <button class="btn btn-outline-danger follow-button" data-info="{{ profile_user.id }}">Unfollow</button>
            {% endif %}
        {% endif %}
        <div class="profile-top-container">
            <div class="card border-primary profile-inner-container">
                <div class="card-body profile-info-container">
                    <h5 class="card-header profile-info-title">Followers</h5>
                    <div class="profile-count-container">
                        <h1 class="card-text profile-info-count followers">{{ profile_user.followers.all.count }}</h1>
                    </div>
                </div>
            </div>
            <div class="card border-primary profile-inner-container">
                <div class="card-body profile-info-container">
                    <h5 class="card-header profile-info-title">Following</h5>
                    <div class="profile-count-container">
                        <h1 class="card-text profile-info-count following">{{ profile_user.following.count }}</h1>
                    </div>
                </div>
            </div>
        </div>
        
    {% if page_obj %}
        {% include 'network/postList.html' %}
    {% else %}
        <div class="error-msg">
            <i class="material-icons">error_outline</i>
            <div class="error-msg-btm">
                {% if user == profile_user %}
                    <h4>You haven't posted anything</h4>
                    <a href="{% url 'index' %}">Post something now!</a>
                {% else %}
                    <h4>{{ profile_user.username }} haven't posted anything</h4>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}